<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Clientes</h4>
          <div class="card-body border-top">
            <div class="button-group d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-outline-info bi bi-plus-circle" [routerLink]="['/component/clientes/form']"> Agregar
                nuevo</button>
              <div class="input-group align-items-center" style="max-width: 500px; height: 60px;">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                  aria-describedby="button-addon2" [(ngModel)]="filtro" (ngModelChange)="filtrarClientes()">
                <div class="input-group-append">
                  <span class="input-group-text btn-outline-success" type="button"  id="button-addon2" (click)="borrarFiltro()">
                    <i class="bi bi-backspace-fill fs-4a"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <h5 class="card-subtitle text-muted">Resultados: {{ empleadosFiltrados.length }}</h5>
                <div class="table-responsive">
                    <table class="table table-hover align-middle text-nowrap">
                        <thead  style="background-color: #343a40;" class="fs-4 text-light">
                            <tr>
                                <th >Foto de perfil</th>
                                <th >Cédula</th>
                                <th >Nombre</th>
                                <th >Apellido</th>
                                <th >Edad</th>
                                <th >Registro</th>
                                <th >Editar</th>
                                <th >Eliminar</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emple of empleadosFiltrados" >
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img [src]="emple?.persona?.url_imagen" onerror="this.src='assets/images/users/incognito.webp'"
                                        width="45" class="rounded-circle" />
                                    </div>
                                </td>
                                <td><h5 class="mb-0 fw-normal">{{emple?.persona?.cedula}}</h5></td>
                                <td><h5 class="mb-0 fw-normal">{{emple?.persona?.nombre1}}</h5></td>
                                <td><h5 class="mb-0 fw-normal">{{emple?.persona?.apellido1}}</h5></td>
                                <td><h5 class="mb-0 fw-normal">{{emple?.persona?.fecha_nac}}</h5></td>
                                <td><h5 class="mb-0 fw-normal">{{emple?.persona?.fecha_reg}}</h5></td>
                                <td>
                                    <a [routerLink]="['/component/empleados/form',emple?.id_empleado]">
                                     
                                      <i class="bi bi-pencil-fill fs-4 text-info"></i>
                                    </a>
                                  </td>
                                  <td>
                                    <button (click)="eliminar(emple)" class="btn p-0">
                                      <i class="bi bi-trash-fill fs-4 
                                      text-danger"></i>
                                    </button>
                                  </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>