<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{titulo}}</h4>
          <div class="card-body border-top">
            <form [formGroup]="formEmple" (ngSubmit)="guardar()" *ngIf="empleado?.persona">
            <div class="row">
              <!-- Columna de inputs a la izquierda -->
              <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group local-forms mb-3">
                  <label>Cedula: </label>
                  <input class="form-control datetimepicker" type="text"  formControlName="cedula" [readonly]="esReadOnly()">
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('cedula')?.valid || formEmple.get('cedula')?.pristine">
                    <span *ngIf="formEmple.get('cedula')?.errors?.['required']">La cédula es obligatoria</span>
                    <span *ngIf="formEmple.get('cedula')?.errors?.['cedula']">La cédula debe tener 10 dígitos y deben ser solo números</span>
                  </div>
                </div>
    
                <div class="form-group local-forms mb-3">
                  <label>Usuario: </label>
                  <input  class="form-control" type="text"  id="direccion" formControlName="usuario">
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('usuario')?.valid ||formEmple.get('usuario')?.pristine" >El usuario es obligatorio</div>
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Primer nombre: </label>
                  <input class="form-control" type="text"  id="direccion" formControlName="nombre_uno">
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('nombre_uno')?.valid ||formEmple.get('nombre_uno')?.pristine">
                    <span *ngIf="formEmple.get('nombre_uno')?.errors?.['required']">El nombre es obligatorio</span>
                    <span *ngIf="formEmple.get('nombre_uno')?.errors?.['soloLetras']">El nombre solo puede tener létras</span>
                  </div>
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Segundo nombre: </label>
                  <input class="form-control" type="text"  id="direccion" formControlName="nombre_dos">
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('nombre_dos')?.valid || formEmple.get('nombre_dos')?.pristine">
                    <span *ngIf="formEmple.get('nombre_dos')?.errors?.['required']">El segundo nombre es obligatiro</span>
                    <span *ngIf="formEmple.get('nombre_dos')?.errors?.['soloLetras']">El segundo nombre solo puede tener letras</span>
                  </div>
                </div>
                
                <div class="form-group local-forms mb-3">
                  <label>Teléfono: </label>
                  <input class="form-control" type="text"  id="direccion" formControlName="telefono">
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('telefono')?.valid || formEmple.get('telefono')?.pristine">
                  <span *ngIf="formEmple.get('telefono')?.errors?.['required']">El telefono es obligatorio</span>
                  <span *ngIf="formEmple.get('telefono')?.errors?.['cedula']">El teléfono no puede tener letras y debe tener 10 dígitos</span>
                  </div>
                </div>
    
                <div class="form-group local-forms mb-3">
                  <label>Fecha nacimiento: </label>
                  <input class="form-control" type="date"  id="direccion" >
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-6">
                <div class="form-group local-forms mb-3">
                  <label>Salario: </label>
                  <input class="form-control" type="text" id="direccion" formControlName="salario" >
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('salario')?.valid || formEmple.get('salario')?.pristine">
                  <span *ngIf="formEmple.get('salario')?.errors?.['required']">El salario es obligatorio</span>
                  <span *ngIf="formEmple.get('salario')?.errors?.['decimal']">Solo puede contener números</span>
                  </div>
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Contraseña: </label>
                  <input class="form-control" type="text" id="direccion" formControlName="contra" >
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('contra')?.valid || formEmple.get('contra')?.pristine">
                  <span *ngIf="formEmple.get('contra')?.errors?.['required']">La contraseña es obligatoria</span>
                  </div>
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Primer apellido: </label>
                  <input class="form-control" type="text" id="direccion" formControlName="apellido_uno" >
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('apellido_uno')?.valid || formEmple.get('apellido_uno')?.pristine">
                  <span *ngIf="formEmple.get('apellido_uno')?.errors?.['required']">El apellido es obligatorio</span>
                  <span *ngIf="formEmple.get('apellido_uno')?.errors?.['soloLetras']">El apellido no puede contener números</span>
                  </div>
                </div>
    
                <div class="form-group local-forms mb-3">
                  <label>Segundo apellido: </label>
                  <input class="form-control" type="text"  id="direccion" formControlName = "apellido_dos" >
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('apellido_dos')?.valid || formEmple.get('apellido_dos')?.pristine">
                  <span *ngIf="formEmple.get('apellido_dos')?.errors?.['required']">El segundo apellido es obligatorio</span>
                  <span *ngIf="formEmple.get('apellido_dos')?.errors?.['soloLetras']">No puede contener números</span>
                  </div>
                </div>
    
                <div class="form-group local-forms mb-3">
                  <label>Dirección: </label>
                  <input class="form-control" type="text"  id="direccion" formControlName = "direcction" >
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('direcction')?.valid|| formEmple.get('direcction')?.pristine">
                    <span *ngIf="formEmple.get('direcction')?.errors?.['required']">La direccion es obligatoria</span>
                  </div>
                </div>
    
                <div class="form-group local-forms mb-3">
                  <label>Email: </label>
                  <input class="form-control" type="text"  id="direccion" formControlName="email">
                  <div class="alert alert-danger mt-2" [hidden]="formEmple.get('email')?.valid ||formEmple.get('email')?.pristine" >
                    <span *ngIf="formEmple.get('email')?.errors?.['required']">El email es obligatorio</span>
                    <span *ngIf="formEmple.get('email')?.errors?.['email']">El email debe ser valido</span>
                  </div>
                </div>

                <!-- Botón en el centro inior -->
                
              </div>
    
              <!-- Columna de archivo al mismo nivel que los inputs sin título -->
              <div class="col-9 col-md-4 order-md-1">
                <label>Foto: </label>
                <input class="form-control" type="file" name="foto" (change)="onFileSelected($event)" accept="image/*"/>
                <div><br></div>
                <!-- Espacio para la imagen -->
                <div class="imagen-container mt-1 mb-1 d-flex align-items-center justify-content-center">
                  <img *ngIf="empleado.persona.url_imagen" [src]="empleado.persona.url_imagen" alt="Imagen actual" class="imagen-redonda img-fluid" />
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center mt-3">
              <button class="btn btn-outline-success" [disabled]="formEmple.invalid">Guardar</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
