<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .info {
            display: flex;
            justify-content: space-between;
        }

        button {
            background-color: rgb(203, 241, 182);
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        th {
            background-color: #e2eff3;
            color: #0f0f0f;
        }
    </style>
</head>


<body>
    <button type="button" class="btn btn-outline-info bi bi-plus-circle"
    [routerLink]="['/component/admin/form']"> Registrar</button>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id marca</th>
                    <th>Nombre</th>
                </tr>
            </thead>

            <tr *ngFor="let marca of marcas">
                <td>{{marca.id_marca}}</td>
                <td>{{ marca.nombre }}</td>
                <button (click)="eliminarmarca(marca)" class="btn p-0 ml-2">
                    <i class="bi bi-trash-fill fs-4 text-danger"></i>
                  </button>
            </tr>
        </table>



        <div class="modelo">
            <table>
                <thead>
                    <tr>
                        <th>Id modelo</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tr *ngFor="let modelo of modelo">
                    <td>{{modelo.id_modelo}}</td>
                    <td> {{modelo.nombre}}</td>

                </tr>
            </table>
        </div>


        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th>Id Proteccion</th>
                        <th>Proteccion</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proteccion of proteccion">
                        <td>{{proteccion.id_proteccion}}</td>
                        <td>{{ proteccion.nombre }}</td>
                        <td>{{ proteccion.precio }}</td>
                        <button (click)="eliminarpro(proteccion)" class="btn p-0 ml-2">
                            <i class="bi bi-trash-fill fs-4 text-danger"></i>
                          </button>
                    </tr>
                </tbody>
               
            </table>
        </div>

        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th>Id Categoria</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categoria">
                        <td>{{categoria.id_categoria}}</td>
                        <td>{{ categoria.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>