<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .info {
            display: flex;
            justify-content: space-between;
        }

        button {
            background-color: rgb(203, 241, 182);
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        th {
            background-color: #e2eff3;
            color: #0f0f0f;
        }
    </style>
</head>

<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let marca of marcas">
                    <td>{{ marca.nombre }}</td>
                    <td>
                        <div *ngFor="let modelo of modelo">
                            {{ marca.id_marca == modelo.id_marca ? modelo.nombre : '' }}
                        </div>
                        <button type="button" [routerLink]="['/component/admin/form']">Editar</button>
                    </td>
                </tr>
                
            </tbody>
        </table>


        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th>Proteccion</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proteccion of proteccion">
                        <td>{{ proteccion.nombre }}</td>
                        <td>{{ proteccion.precio }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categoria">
                        <td>{{ categoria.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>