<!-- app/profile/profile.component.html -->
<div class="card" >
        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-image">
                    <!-- Coloca la URL de la foto del usuario aquí -->
                    <img [src]="persona.url_imagen" (error)="onImageError()" />
                </div>
                <!-- Coloca el nombre del usuario aquí -->
                <h2 style="font-size: 3.2em;">
                    <div style="display: inline-block;">{{ usuario }}</div>&nbsp;
                    <a style="vertical-align: middle;">
                        <i class="bi bi-pencil-square fs-7 text-info" (click)="encontrarid()"></i>
                    </a>
                  </h2>                  
                <h2 style="font-size: 1.1em;">
                    <div>
                      {{ tipousuario }} 
                    </div>
                  </h2>
            </div>
           <!-- app/profile/profile.component.html -->
<div class="profile-details">
    <div class="user-info-column">
        <div class="user-info">
            <label for="cedula">Cédula:</label>
            <span>{{persona.cedula}}</span>
        </div>
        <div class="user-info">
            <label for="telefono">Teléfono:</label>
            <span>{{persona.telefono}}</span>
        </div>
        <div class="user-info">
            <label for="nombres">Nombres:</label>
            <span>{{persona.nombre1}} {{persona.nombre2}}</span>
        </div>
        
        <div class="user-info">
            <label for="correo">Correo Electrónico:</label>
            <span>{{persona.correo}}</span>
        </div>
    </div>
    <div class="user-info-column">
        <div class="user-info">
            <label for="apellidos">Apellidos:</label>
            <span>{{persona.apellido1}} {{persona.apellido2}}</span>
        </div>
        <div class="user-info">
            <label for="direccion">Dirección:</label>
            <span>{{persona.direccion}}</span>
        </div>
        <div class="user-info">
            <label for="fecha-nacimiento">Fecha Nacimiento:</label>
            <span>{{persona.fecha_nac}}</span>
        </div>
        <div class="user-info">
            <label for="fecha-registro">Fecha de registro:</label>
            <span>{{persona.fecha_reg}}</span>
        </div>
    </div>
</div>

        </div>
    
</div>
