<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Devoluciones</h4>
        <div class="card-body border-top">
          <div class="button-group d-flex justify-content-between align-items-center">
            <div class="input-group align-items-center" style="max-width: 500px; height: 60px;">
              <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                aria-describedby="button-addon2" [(ngModel)]="filtro" (ngModelChange)="filtrarDevoluciones()">
              <div class="input-group-append">
                <span class="input-group-text btn-outline-success" type="button" id="button-addon2" (click)="borrarFiltro()">
                  <i class="bi bi-backspace-fill fs-4a"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <h5 class="card-subtitle text-muted">Resultados: {{devoluciones.length}}</h5>
        <div class="table-responsive">
          <table class="table table-hover align-middle text-nowrap">
            <thead style="background-color: #343a40;" class="fs-4 text-light">
              <tr>
                <th>Nombre & Apellido</th>
                <th>Cédula</th>
                <th>Placa</th>
                <th>Fecha inicio</th>
                <th>Fecha devolucion</th>
                <th>Total</th>
                <th>Imprimir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let devolucion of devoluciones">
                <td class="fs-4" >{{devolucion.alquiler.cliente.persona.nombre1}} {{devolucion.alquiler.cliente.persona.apellido1}} </td>
                <td class="fs-4" >{{devolucion.alquiler.cliente.persona.cedula}}</td>
                <td class="fs-4">{{devolucion.alquiler.auto.matricula}}</td>
                <td class="fs-4">{{devolucion.alquiler.fecha_ini | date : "yyyy-MM-dd"}}</td>
                <td class="fs-4">{{devolucion.fecha}}</td>
                <td class="fs-4">{{devolucion.alquiler.total}} $</td>
                <td class="text-center">
                  <button class="btn p-0" (click)="generatePdf(devolucion.id_devolucion)">                      
                    <i class="bi bi-printer-fill fs-4 text-primary align-middle"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>