<div class="container " >
  <div class="card dark d-flex justify-content-start" *ngFor="let cli of alquileresreservados">
    <img src="{{cli?.cliente?.persona?.url_imagen}}" onerror="this.src='assets/images/users/incognito.webp'"
    width="100"  alt="...">
    <div class="card-body ">
      <div class="text-section">
        <h5 class="card-title">{{cli?.cliente?.persona?.nombre1}}  {{cli?.cliente?.persona?.apellido1}}</h5>
        <p class="card-text">Cedula: {{cli?.cliente?.persona?.cedula}}</p>
        <p class="card-text"></p>
      </div>
      <div class="cta-section">
        <div>$ {{cli?.total}} </div>
        <a href="#" class="btn btn-light">Buy Now</a>
      </div>
    </div>
  </div>
  </div>