<div class="card">
  <div class="card-body">
    <h4 class="card-title">Clientes</h4>
    <div class="card-body border-top">
      <div class="button-group d-flex justify-content-between align-items-center">
        <button type="button" class="btn btn-outline-info" [routerLink]="['/component/autos/form']">+ Agregar nuevo</button>
        <div class="input-group align-items-center" style="max-width: 500px; height: 60px;">
          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
          <div class="input-group-append">
            <span class="input-group-text btn-outline-success" id="button-addon2">
              <i class="bi bi-search"></i> <!-- Assuming you are using Bootstrap Icons -->
            </span>
          </div>
        </div>
      </div>
      <h4 class="font-medium mb-3">Listado autos</h4>
      <!-- Row -->
      <div class="row">
        <!-- column -->
        <div class="col-lg-3 col-md-6" *ngFor="let auto of autos">
          <!-- Card -->
          <div class="card border-dark bg-light mb-3">
            <img class="card-img-top img-responsive" src="assets/images/bg/bg1.jpg" alt="Card image cap" />
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
              <h4 class="card-title text-center"> {{auto.modelo.marca.nombre}} {{auto.modelo.nombre}} </h4>
              <div class="row">
                <div class="col">
                  <ul class="list-unstyled mb-0 small">
                    <li><strong>Matrícula:</strong> {{auto.matricula}}</li>
                    <li><strong>Color:</strong>{{auto.color}}</li>
                    <li><strong>Potencia:</strong>{{auto.potencia + " hp"}}</li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-unstyled mb-0 small">
                    <li><strong>Capacidad:</strong> {{auto.capacidad}}</li>
                    <li><strong>Precio Diario:</strong>{{auto.precio_diario + " $"}}</li>
                    <li><strong>Estado:</strong> {{auto.estado.nombre}}</li>
                  </ul>
                </div>
              </div>
              <div class="d-flex flex-column align-items-center justify-content-center mt-3">
                <button type="button" class="btn btn-outline-success btn-block mb-2">+Seleccionar</button>
                <div class="d-flex">
                  <button type="button" class="btn btn-outline-info  mr-2" [routerLink]="['/component/autos/form',auto.id_auto]">Editar</button>
                  <button type="button" class="btn btn-outline-danger" (click)="delete(auto)">Borrar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- column -->
      </div>
      <!-- Row -->
    </div>
  </div>
</div>

