<div class="mision-section bg-white p-5">
  <div class="row align-items-center">
    <div class="col-md-6 mx-auto text-center">
      <img src="./assets/images/logos/mision.jpg" alt="Imagen de la Misión" class="mision-image" />
    </div>
    <div class="col-md-6">
      <div class="d-flex align-items-center h-100">
        <div class="mx-auto">
          <h2 class="text-center">MISIÓN</h2>
          <p class="text-center">
            "Facilitar la movilidad sin preocupaciones al proporcionar soluciones de
            alquiler de vehículos accesibles, confiables y personalizadas. Nos
            comprometemos a mantener altos estándares de servicio al cliente,
            garantizando la satisfacción total de nuestros clientes. A través de la
            innovación constante y la excelencia operativa, estamos dedicados a
            hacer que cada viaje sea una experiencia inigualable."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vision-section bg-white p-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="d-flex align-items-center h-100">
        <div class="mx-auto">
          <h2 class="text-center">VISIÓN</h2>
          <p class="text-center">
            "Ser la primera opción para aquellos que buscan libertad y flexibilidad
            en sus viajes. Aspiramos a ser líderes en la industria de alquiler de
            vehículos, ofreciendo una experiencia impecable, una flota diversa y
            tarifas competitivas, creando así momentos inolvidables para nuestros
            clientes."
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto text-center">
      <img src="./assets/images/logos/vision.jpg" alt="Imagen de la Visión" class="vision-image" />
    </div>
  </div>
</div>
