<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Alquileres</h4>
        <div class="card-body border-top">
          <div
            class="button-group d-flex justify-content-between align-items-center"
          >
            <button
              type="button"
              class="btn btn-outline-info bi bi-plus-circle"
              [routerLink]="['/component/alquileres/form']"
            >
              Agregar nuevo
            </button>
            <div
              class="input-group align-items-center"
              style="max-width: 500px; height: 60px"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                aria-label="Buscar"
                aria-describedby="button-addon2"
                [(ngModel)]="filtro"
                (ngModelChange)="filtrarAlquileres()"
              />
              <div class="input-group-append">
                <span
                  class="input-group-text btn-outline-success"
                  type="button"
                  id="button-addon2"
                  (click)="borrarFiltro()"
                >
                  <i class="bi bi-backspace-fill fs-4a"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <h5 class="card-subtitle text-muted">
          Resultados: {{ alquileresFiltrados.length }}
        </h5>
        <div class="table-responsive">
          <table class="table table-hover align-middle text-nowrap">
            <thead style="background-color: #343a40" class="fs-4 text-light">
              <tr>
                <th>Cliente</th>
                <th>Auto</th>
                <th>Fecha de Inicio</th>
                <th>Fecha Fin</th>
                <th>Tiempo Restante</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Finalizar Alquiler</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alquiler of alquileresFiltrados">
                <td class="fs-4">
                  {{ alquiler.cliente.persona.nombre1 }}
                  {{ alquiler.cliente.persona.apellido1 }}
                </td>
                <td class="fs-4">
                  {{ alquiler.auto.modelo.marca.nombre }}
                  {{ alquiler.auto.modelo.nombre }}
                </td>
                <td class="fs-4">
                  {{ alquiler.fecha_ini | date : "yyyy-MM-dd" }}
                </td>
                <td class="fs-4">
                  {{ alquiler.fecha_fin | date : "yyyy-MM-dd" }}
                </td>
                <td class="fs-4" style="color: blue">
                  <ng-container
                    *ngIf="
                      calcularTiempoRestante(alquiler)
                        | async as tiempoRestante;
                      else finalizado
                    "
                  >
                    {{ tiempoRestante }}
                  </ng-container>
                  <ng-template #finalizado>Alquiler finalizado</ng-template>
                </td>
                <td class="fs-4">{{ alquiler.total }} $</td>
                <td class="fs-4" style="color: lime;">{{ alquiler.pagadoString }}</td>
                <td>  <button type="button" class="btn btn-outline-success btn-block mb-2" (click)="eliminar(alquiler)">FINALIZAR</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
