<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="card-title">{{ titulo }}</h4>
          <button
            type="button"
            class="btn btn-outline-info"
            [routerLink]="['/component/reservas']"
          >
            VER RESERVAS
          </button>
        </div>

        <div class="row mb-3">
          <!-- Columna izquierda -->
          <div class="col-md-5">
            <div class="form-group local-forms mb-3">
              <label for="alquiler" class="mr-2">Agregar Cliente:</label>
              <button
                class="btn btn-primary"
                type="button"
                style="margin-left: 20px"
                (click)="newCliente()"
              >
                Agregar
              </button>
            </div>

            <div class="form-row mb-3">
              <div class="col-12">
                <div class="d-flex">
                  <div class="col mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo1"
                      name="campo1"
                      placeholder="Cédula..."
                      [value]="alquilerForm.get('cedula')?.value"
                      readonly
                    />
                  </div>
                </div>
                <div class="d-flex">
                  <div class="col mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo2"
                      name="campo2"
                      placeholder="Nombre & Apellido..."
                      [value]="alquilerForm.get('nombre2')?.value"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group local-forms mb-3">
              <label style="margin-bottom: 10px"
                >Fecha de inicio del Alquiler:</label
              >
              <input
                class="form-control"
                type="date"
                name="fecha_inicio"
                [(ngModel)]="alquilerForm.value.fecha_inicio"
                (change)="actualizarDiasEntreFechas()"
                [min]="fechaActual"
                required
              />
            </div>

            <div class="form-group local-forms mb-3">
              <label style="margin-bottom: 10px"
                >Fecha en que finalizará el Alquiler:</label
              >
              <input
                class="form-control"
                type="date"
                name="fecha_fin"
                [(ngModel)]="alquilerForm.value.fecha_fin"
                (change)="actualizarDiasEntreFechas()"
                [min]="fechaActual"
                required
              />
            </div>

            <div *ngIf="diasEntreFechas > 0">
              <p style="color: blue">
                El alquiler será de {{ diasEntreFechas }} días.
              </p>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group local-forms mb-3">
                  <label for="tipo_pago" class="mr-2">Tipo de pago:</label>
                  <select class="form-control w-100" name="tipo_pago" required [(ngModel)]="alquiler.tipo_pago">
                    <option value="" selected disabled>Seleccionar</option>
                    <option value="1" [value]="1" [selected]="alquiler.tipo_pago === '1'">Tarjeta</option>
                <option value="2" [value]="2" [selected]="alquiler.tipo_pago === '2'">Efectivo</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Columna derecha -->
          <div class="col-md-7">
            <div class="form-group local-forms mb-3">
              <label for="alquiler" class="mr-2">Agregar Auto:</label>
              <button
                class="btn btn-primary"
                type="button"
                style="margin-left: 20px"
                (click)="newAuto()"
              >
                Agregar
              </button>
            </div>

            <div class="form-row mb-3">
              <div class="col-12">
                <div class="d-flex">
                  <div class="col mx-1 mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo1"
                      name="campo1"
                      placeholder="Matrícula..."
                      [value]="alquilerForm.get('matricula')?.value"
                      readonly
                    />
                  </div>
                  <div class="col mx-1 mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo2"
                      name="campo2"
                      placeholder="Color..."
                      [value]="alquilerForm.get('color')?.value"
                      readonly
                    />
                  </div>
                  <div class="col mx-1 mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo3"
                      name="campo3"
                      placeholder="Potencia..."
                      [value]="alquilerForm.get('potencia')?.value"
                      readonly
                    />
                  </div>
                </div>
                <div class="d-flex">
                  <div class="col mx-1 mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo4"
                      name="campo4"
                      placeholder="Capacidad..."
                      [value]="alquilerForm.get('capacidad')?.value"
                      readonly
                    />
                  </div>
                  <div class="col mx-1 mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo5"
                      name="campo5"
                      placeholder="Precio..."
                      [value]="alquilerForm.get('precio')?.value"
                      readonly
                    />
                  </div>
                  <div class="col mx-1 mb-2">
                    <input
                      class="form-control"
                      type="text"
                      id="campo6"
                      name="campo6"
                      placeholder="Estado..."
                      [value]="alquilerForm.get('estado')?.value"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group local-forms mb-3">
                <label for="alquiler" class="mr-2">Tipo de protección:</label>
              </div>

              <div class="d-flex">
                <div class="col mx-1 mb-4">
                  <div
                    *ngFor="let proteccion of proteccionList"
                    class="proteccion-option"
                  >
                  <input
                  type="radio"
                  name="proteccion"
                  [value]="proteccion.id_proteccion"
                  (change)="seleccionarProteccion(proteccion.id_proteccion)"
                  [(ngModel)]="proteccionSeleccionada"
                />

                    <label
                      >{{ proteccion.nombre }} -> Precio: ${{
                        proteccion.precio | number : ".2"
                      }}</label
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="table-responsive">
                <table
                  class="table table-hover align-middle text-nowrap table-sm"
                >
                  <thead class="bg-dark text-light">
                    <tr>
                      <th style="text-align: center">Precio Protección</th>
                      <th style="text-align: center">Precio Auto</th>
                      <th style="text-align: center">Número de días</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          name="descripcion1"
                          placeholder="Precio protección..."
                          readonly
                          [value]="
                            (precioProteccionSeleccionado !== null
                              ? precioProteccionSeleccionado
                              : 0) + (precioProDesdeReservas !== null ? precioProDesdeReservas : 0)
                          "
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          name="cantidad1"
                          placeholder="Precio auto..."
                          [value]="alquilerForm.get('precio2')?.value"
                          readonly
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          name="precio1"
                          [placeholder]="
                            numeroDiasAlquiler === 0 ? 'Número de días' : ''
                          "
                          readonly
                          [value]="
                            numeroDiasAlquiler !== 0 ? numeroDiasAlquiler : ''
                          "
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div
                  class="d-flex justify-content-between align-items-center mt-3"
                >
                  <div class="custom-column"></div>

                  <div class="contenedor">
                    
                    <p *ngIf="calcularSubtotal() !== null" class="parrafo">
                      Subtotal: {{ calcularSubtotal() | number : ".2" }}
                    </p>

                    <p class="parrafo"> IVA: 12%</p>

                    <p class="parrafo ultimo-parrafo">
                      TOTAL: {{ (calcularTotal() !== null ? calcularTotal() : totalDesdeReservas) | number : "1.2-2" }}
                    </p>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-12 d-flex justify-content-center align-items-center mt-3"
        >
          <button class="btn btn-outline-success" (click)="crear()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
