<div class="welcome-section d-flex justify-content-between align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h1 style="font-size: 70px">"YOUR KEYS"</h1>
        <h1 style="font-size: 30px">Te da la bienvenida</h1>
        <p>
          "Tu puerta de acceso a una experiencia de alquiler de vehículos sin
          complicaciones. En nuestra plataforma, encontrarás la combinación
          perfecta de comodidad y elección. Explora de una forma intuitiva,
          nuestra diversa flota de vehículos de alta calidad. Descubre la
          libertad de movimiento con “YOUR KEYS” y empieza a planificar tu
          próxima aventura hoy mismo."
        </p>
      </div>
      <div class="col-md-6 col-lg-6">
        <img
          src="./assets/images/logos/logo1.png"
          alt="Imagen de bienvenida"
          class="welcome-image"
        />
      </div>
      <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
      </div>
    </div>
  </div>
</div>

