<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div
  id="main-wrapper"
  [ngClass]="{ 'show-sidebar': showMobileMenu }"
  dir="ltr"
  data-theme="light"
  data-layout="vertical"
  [attr.data-sidebartype]="sidebartype"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full"
>
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in topbar.scss -->
  <!-- ============================================================== -->
  <header class="topbar bg-gradient" data-navbarbg="skin1">
    <nav class="d-flex top-navbar navbar-expand-lg navbar-dark">
      <div
        class="navbar-header"
        [ngClass]="expandLogo ? 'expand-logo' : ''"
        data-logobg="skin6"
      >
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a
          (click)="showMobileMenu = !showMobileMenu"
          class="nav-toggler waves-effect waves-light d-block d-lg-none"
          href="javascript:void(0)"
        >
          <i [ngClass]="showMobileMenu ? 'bi bi-text-left fs-6' : 'bi bi-text-left fs-6'"></i>
        </a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <a class="navbar-brand d-flex justify-content-center align-items-center" href="/dashboard">
          <b>
              <span style="font-weight: bold; font-size: 24px; color: #333;">Your</span>
              <span style="font-weight: light; font-size: 24px; color: #87CEEB;">Keys</span>
              <i style="font-size: 24px; color: #333;"></i>
          </b>
      </a>
      
       
        <a
          class="topbartoggler d-block d-lg-none waves-effect waves-light"
          href="javascript:void(0)"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
        >
          <i class="bi bi-text-right fs-6"></i>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div
        class="navbar-collapse collapse"
        id="navbarSupportedContent"
        data-navbarbg="skin1"
        [ngbCollapse]="!isCollapsed"
      >
        <app-navigation
          (toggleSidebar)="toggleSidebarType()"
          class="w-100"
        ></app-navigation>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside
    class="left-sidebar"
    data-sidebarbg="skin6"
    (mouseover)="Logo()"
    (mouseout)="Logo()"
  >
      <app-sidebar></app-sidebar>
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
<footer class="page-footer font-small pt-4 mt-4">
    <div class="container text-center text-md-left">
        <div class="row mx-auto">
            <!-- Primer Bloque -->
            <div class="col-md-4 mt-3 mt-md-0 mb-0 mb-md-3">
                <h5 class="text-uppercase">Your Keys</h5>
                <p class="m-0">Version: 2.0.0</p>
            </div>

            <!-- Segundo Bloque -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Desarrolladores</h5>
                <p class="m-0">David Guambaña, Ariel Guaman</p>
                <p class="m-0">Dayanna Lalangui, Estefania Zhungo</p>
                <p class="m-0">Josías Aldaz & Franklin Orellana</p>
            </div>

            <!-- Tercer Bloque -->
            <div class="col-md-4 mb-3">
              <h5 class="text-uppercase">Proyecto</h5>
              <p class="m-0">Nombre: Alquiler de Autos</p>
              <p class="m-0">Ciclo: Cuarto</p>
              <p class="m-0">Universidad: <a href="https://www.tecazuay.edu.ec/" target="_blank">TEC AZUAY</a></p>
          </div>
        </div>
    </div>

    <!-- Footer Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-white">
        <span id="copyrighted">Your Keys &copy; {{ currentYear }} - v2.0.0 </span>
    </div>
</footer>

  
    
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
