<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ titulo }}</h4>
        <div class="card-body border-top">
          <form (ngSubmit)="guardar()" *ngIf="cliente.persona">
            <div class="row">
              <!-- Columna de inputs a la izquierda -->
              <div class="col-12 col-md-4 col-xl-3">
                <div class="form-group local-forms mb-3">
                  <label>Licencia: </label>
                  <input class="form-control datetimepicker" type="text" name="licencia" [(ngModel)]="cliente.persona.cedula" required [readonly]="esReadOnly()"/>
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Primer nombre: </label>
                  <input class="form-control" type="text" name="nombre1" [(ngModel)]="cliente.persona.nombre1" required />
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Primer apellido: </label>
                  <input class="form-control" type="text" name="apellido1" [(ngModel)]="cliente.persona.apellido1" required />
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Teléfono: </label>
                  <input class="form-control" type="text" name="telefono" [(ngModel)]="cliente.persona.telefono" required />
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Fecha nacimiento: </label>
                  <input class="form-control" type="date" name="fecha_nac" [(ngModel)]="cliente.persona.fecha_nac" required />
                </div>
              </div>

              <!-- Columna de inputs a la derecha -->
              <div class="col-12 col-md-4 col-xl-3">
                <div class="form-group local-forms mb-3">
                  <label>Tipo de licencia: </label>
                  <select class="form-control" name="tipo_licencia" [(ngModel)]="cliente.tipo_licencia" required>
                    <option *ngFor="let tl of tipos_licencias" [ngValue]="tl">
                      {{ tl }}
                    </option>
                  </select>
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Segundo nombre: </label>
                  <input class="form-control" type="text" name="nombre2" [(ngModel)]="cliente.persona.nombre2" required />
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Segundo apellido: </label>
                  <input class="form-control" type="text" name="apellido2" [(ngModel)]="cliente.persona.apellido2" required />
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Dirección: </label>
                  <input class="form-control" type="text" name="direccion" [(ngModel)]="cliente.persona.direccion" required />
                </div>

                <div class="form-group local-forms mb-3">
                  <label>Email: </label>
                  <input class="form-control" type="text" name="email" [(ngModel)]="cliente.persona.correo" required />
                </div>
              </div>

              <div class="col-9 col-md-4 order-md-1">
                <label>Foto: </label>
                <input class="form-control" type="file" name="foto" (change)="onFileSelected($event)" accept="image/*"/>
                <div><br></div>
                <!-- Espacio para la imagen -->
                <div class="imagen-container mt-1 mb-1 d-flex align-items-center justify-content-center">
                  <img *ngIf="cliente.persona.url_imagen" [src]="cliente.persona.url_imagen" alt="Imagen actual" class="imagen-redonda img-fluid" />
                </div>
              </div>
            </div>
            <!-- Boton Guardar centrado -->
            <div class="col-12 d-flex justify-content-center align-items-center mt-3">
              <button class="btn btn-outline-success" >Guardar</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
